<h3 style="text-align: center;">
    tournament : {{tournamentYear}}
</h3>

<div class="flex-container">
    <div class="confederation concacaf">
        <a routerLink="./concacaf" routerLinkActive="active" ariaCurrentWhenActive="page">
            CONCACAF qualification
        </a>
    </div>
    <div class="confederation uefa">
        <a routerLink="./uefa" routerLinkActive="active" ariaCurrentWhenActive="page">
            UEFA qualification
        </a>
    </div>
    <div class="confederation afc">
        <a routerLink="./afc" routerLinkActive="active" ariaCurrentWhenActive="page">
            AFC qualification
        </a>
    </div>
</div>

<div class="flex-container">
    <p> Main tournament area </p>
</div>

<div class="flex-container">
    <div class="confederation conmebol">
        <a routerLink="./conmebol" routerLinkActive="active" ariaCurrentWhenActive="page">
            CONMEBOL qualification
        </a>
    </div>
    <div class="confederation caf">
        <a routerLink="./caf" routerLinkActive="active" ariaCurrentWhenActive="page">
            CAF qualification
        </a>
    </div>
    <div class="confederation ofc">
        <a routerLink="./ofc" routerLinkActive="active" ariaCurrentWhenActive="page">OFC qualification</a>
    </div>
</div>